/* RESET & DASAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    min-height: 100%;  
}   

body {
  min-height: 100%;
  font: 14px 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #fef8d8, #e0f7fa);
  color: #333;
}

/* KONTENER UTAMA */
.container {
  width: 800px;
  margin: 40px auto;
  background-color: #ffffff;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

/* HEADER / JUDUL */
.judul {
  font-size: 32px;
  text-align: center;
  padding: 20px 10px;
  background-color: #f4eccb;
  color: #444;
  border-bottom: 2px solid #e1d9a8;
}

.header {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  background-color: #faf3e0;
 

}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header ul li {
  display: inline-block;
  margin: 10px 20px;
}

.header a {
  text-decoration: none;
  color: #3b6fa0;
  padding: 8px 14px;
  border-radius: 6px;
  font-weight: bold;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.header a.active,
.header a:hover {
  background-color: #dbe9f4;
  color: #2c5a84;
}

/* Efek underline animasi saat hover */
.header a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #3b6fa0;
  transition: width 0.3s ease;
}

.header a:hover::after {
  width: 100%;
}

.video-section {
  margin: 40px auto;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  background: #fef8d8;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.1);
}

.video-heading {
  font-size: 24px;
  color: #444;
  text-align: center;
  margin-bottom: 20px;
}

.video-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.video-player {
  width: 100%;
  max-width: 720px;
  border-radius: 10px;
  border: 3px solid #e0f7fa;
  background-color: #000;
}

.video-caption {
  text-align: center;
  padding: 0 15px;
}

.video-caption h3 {
  font-size: 20px;
  color: #3e227c;
  margin-bottom: 8px;
}

.video-caption p {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

/* animasi maasuk */
.video-section {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
